<a href="https://colab.research.google.com/github/luusync/LingProg/blob/master/Aula2-IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print ("Ola mundo!")

x =10

print (x)

y = x * 10

print (y)

Ola mundo!
10
100

In [2]:
Neste exemplo reproduzimos o uso de operadores aritmeticos fazendo calculos básicos. Vimos 
como são suas simbologias em Python e como trabalhar com elas de diversas formas. 

x = 3
print (type(x))
#Mostra "<class 'int'>"
print (x)
#mostra "3"
print(x + 1)
#adciona e mostra 4 
print(x - 1)
#subtrai e mostra 2
print(x * 2)
#multiplica e mostra 6
print(x ** 2)
#faz a exponenciação e mostra 9
x += 1
print (x)
#mostra 4
x *= 2
print(x)
#mostra 8
y = 2.5
print(type(y))
#mostra "<class 'float'>"
print (y, y + 1, y * 2, y ** 2)
#mostra "2.5 3.5 5.0 6.25"

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [5]:
neste exemplo vimos os tipos de operadores lógicos verdadeiro e falso, como trabalhar com 
elas de algumas formas e suas simbologias.

t = True
f = False
print(type(t))
#mostra "<class 'bool'>"
print (t and f)
#trabalha o operador AND e mostra "False"
print (t or f)
#trabalha o operador OR e mostra "True"
print (not t)
#trabalha o operador NOT D e mostra "False"
print (t != f)
#trabalha o operador xor (ou exclusivo) e mostra "True"

<class 'bool'>
False
True
False
True

In [6]:
Nesse exemplo trabalhamos com o uso de Strings. Reproduzimos como guardar nomes, juntar 
frases umas nas outras, editar das mais variadas formas e muito mais.

hello = 'hello'
#string literais se usa aspas simples
world = "world"
#ou aspas dupla indiferentemente
print(hello)
#mostra "hello"
print(len(hello))
#identifica o tamanho da String e mostra 5
hw = hello + ' ' + world
#operador "+" concatena Strings
print(hw)
#mostra "hello word"
hw12 = '%s %s %d' % (hello, world, 12)
#formata como o printf da linguagem C
print(hw12)
#Mostra "hello world 12"
hw12 = '{} {} {}'.format(hello, world, 12)
print(hw12)
#mostra "hello world 12"
s = "hello"
print(s.capitalize())
#coloca em maiusculo a 1a letra e mostra Hello
print(s.upper())
#converte para maiusculo tudo e mostra HELLO
print(s.rjust(7))
#justifica a direita e mostra " hello"
print(s.center(7))
#centraliza e mostra " hello "
print(s.replace('1', '(ell'))
#troca todos '1' por 'ell' e mostra "he(ell) (ell)o"
print (' world '.strip()) 
#tira os espaços e mostra "world"

hello
5
hello world
hello world 12
hello world 12
Hello
HELLO
  hello
 hello
hello
world

In [7]:
Neste exemplo trabalhamos com o uso das listas, fazendo desde a criaçao de uma lista ate a
modificação com a adição de novos dados e remoção de outros alem das formas de como retornar esses 
dados.  

xs = [3, 1, 2, 'texto']
#cria a lista
print(xs, xs[2])
#mostra "[3, 1, 2] 2"
print(xs[-1])
#indices negativos contam a partir do fim da lista e mostra 2
xs[2] = 'texto'
#listas podem ter elementos de tipos diferentes
print(xs)
#mostra "[3, 1, 'texto']"
xs.append('outro')
#coloca um novo elemento no fim da lista
print(xs)
#mostra "[3, 1, 'texto, 'outro']"
x = xs.pop()
#remove e retorna o ultimo elemento da lista
print(x, xs)
#mostra "bar [3, 1, 'texto']"
animais = ['gato', 'cachorro', 'macaco']
#a seguir um loop com  a lista animais
for animal in animais:
  print(animal)
#o recurso de loop (repetição) acima conheceremos na proxima aula

[3, 1, 2, 'texto'] 2
texto
[3, 1, 'texto', 'texto']
[3, 1, 'texto', 'texto', 'outro']
outro [3, 1, 'texto', 'texto']
gato
cachorro
macaco

In [10]:
Complementando o que vimos com listas, aqui trabalhamos com a criação de listas com range.
l1 = list(range(5))
print(l1)
l2 = list(range(3,8))
print(l2)
l3 = list(range(2,11,3))
print(l3)
l4 = l1 + l2
print(l4)
l5 = l3 * 4
print(l5)
l6 = (9, 'textp', 5.7, [16, 11, 18], "Python", [7, 8])
print(l6)
l7 = l6[1:4]
print(l7)
l8 = l6[2:1]
print(l8)
l9 = l6[:4]
print(l9)

[0, 1, 2, 3, 4]
[3, 4, 5, 6, 7]
[2, 5, 8]
[0, 1, 2, 3, 4, 3, 4, 5, 6, 7]
[2, 5, 8, 2, 5, 8, 2, 5, 8, 2, 5, 8]
(9, 'textp', 5.7, [16, 11, 18], 'Python', [7, 8])
('textp', 5.7, [16, 11, 18])
()
(9, 'textp', 5.7, [16, 11, 18])

In [15]:
Nesse exemplo aprendemos sobre dicionarios em Python, seu uso, suas funções, como mostrar e declarar
de algumas formas. Reprozudimos como acessar e devolver os dados, incluir e remover elementos.

d = {'gato': 'cat', 'cachorro': 'dog'}
#cria um novo dicionario com alguns dados
print(d['gato'])
#identifica se uma chave está e mostra "true"
print ('gato' in d)
# verifica se uma chave está e mostra "True"
print (d)
d['peixe'] = 'fish'
#mostra "fish"
print (d['macaco'])
#keyError: 'macaco' porque não é uma chave do dicionario d
print (d.get('peixe', 'N/A'))
#busca um elemento com valor default para falha, mostra "N/A"
print (d.get('peixe', 'N/A'))
#busca um elemento com valor default para falha, mostra "fish"
del d['peixe']
#remove um element do dicionario
print (d.get('peixe', 'N/A'))
# busca um elemento com valor default para falha, mostra "N/A"

cat
True
{'gato': 'cat', 'cachorro': 'dog'}
fish
fish
N/A

hoje estou aprendendo a programar em python.